.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.submit {
  width: 100px;
}

.input {
  display: flex;
  gap: 8px;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  color: red;
}

.div3 {
  display: inline-block;
}
