.form {
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 16px;
  padding: 10px;
}

.input {
  display: flex;
  gap: 8px;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  color: red;
}
